  <%= bootstrap_form_with(model: artwork) do |f| %>
  <%= f.alert_message "Please fix the errors below." %>
  <%= f.text_field :title, help: "required" %>
  <%= f.text_field :medium, help: "required" %>
  <%= f.text_field :edition, help: "if applicable" %>
  <%= f.text_area :description %>
  <%= f.number_field :year, help: "required" %>
  <%= f.number_field :price %>
  <%= f.text_field :location, help: "required" %>
  <%= f.check_box :visible, label: "Visible to curators?" %>
  <fieldset class="border p-2 mb-4">
    <p class="text-secondary">Either duration or heigh and width are required</p>
    <%= f.number_field :duration, label: "Duration (minutes)" %>
    <%= f.select :units, %w[in cm] %>
    <%= f.number_field :height %>
    <%= f.number_field :width %>
    <%= f.number_field :depth %>
  </fieldset>
  <%= f.submit "Save" %>
<% end %>
