<div id="<%= dom_id user %>">
  <tr>
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.active %></td>
    <td><%= user.last_sign_in_at&.to_date&.to_fs(:long) %></td>
  </tr>
</div>
