<div class="container">
  <section class="image-grid">
    <div class="row gy-4">
      <% @artwork.images.each do |i| %>
        <div class="col-4">
          <%= image_tag large_url(i), alt: i.caption, class: "img-fluid" %>
          <i><%= i.caption %></i>
        </div>
      <% end %>
    </div>
  </section>
  <div class="row mt-4">
    <div class="col-6">
      <div><strong><%= @artwork.title %></strong> (<%= @artwork.year %>) by <%= @artwork.user.name %><br>
        <%= @artwork.medium %>
      </div>
      <% if @artwork.edition.present? %>
        <div>
          ed: <%= @artwork.edition %>
        </div>
      <% end %>
      <%= render "artworks/dimensions" %>
      <div>
        Location: <%= @artwork.location %>
      </div>
      <div>
        Price: <%= @artwork.price.present? ? @artwork.price : "none" %>
      </div>
      <% if @artwork.description.present? %>
        <div class="mt-2">
          <div class="fw-bold">Description</div>
          <%= @artwork.description %>
        </div>
      <% end%>
    </div>
  </div>
</div>
